//@import "bootstrap";
@import "admin";
@import "front";
@import "posts";

body {
  background: url("everest_gory_nebo_vershiny_96976_1920x1080.jpg") no-repeat fixed;
  font-family: "Helvetica Neue",HelveticaNeue,Arial,sans-serif;
  margin: 0;
  padding: 0;
}