// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
    font: 2em "Source Code Pro", Monaco, monospace;
    color: #de5c35;
    text-align: center;
}
.posts{
  width: 50%;
  position: absolute;
  left: 25%;
}
.post{

  padding: 10px;
  display: block;
  height: auto;
  width: auto;
  overflow-wrap: normal;
  word-wrap: normal;
  word-break: break-all;
  box-sizing: content-box;
  .post_text{
    text-align: justify;
  }
}

