// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
    font: 2em "Source Code Pro", Monaco, monospace;
    color: #de5c35;
    text-align: center;
}
.posts{
  width: 50%;
  position: absolute;
  left: 25%;
}
.post{
  padding-top: 10px !important;
}

